<%= simple_form_for(@listing) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :category %>
  <%= f.input :address %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <div class="text-center mt-3">
    <%= f.submit "Save Listing", class: "btn btn-primary btn-sm rounded-pill px-4 py-2 aesthetic-btn" %>
  </div>
<% end %>
