
<%= link_to "New Listing", new_listing_path %>

<h1>Listings</h1>

<% @listings.each do |listing| %>
  <p><%= listing.title %></p>
  <p><%= listing.description %></p>
  <p>Price: <%= number_to_currency(listing.price) %></p>
  <p>Category: <%= listing.category %></p>
  <p>
    <%= link_to "Show", listing_path(listing), class: "btn btn-primary" %>
  </p>
  <% if listing.user == current_user %>
    <p>
      <%= link_to "Edit", edit_listing_path(listing), class: "btn btn-secondary" %>
      <%= link_to listing_path(listing),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
    </p>
  <% end %>
<% end %>

<h1 class="text-center my-5">Listings#index</h1>



<div class="container">
  <div class="row justify-content-center g-4">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="img-fluid rounded" />
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="img-fluid rounded" />
        <div class="card-product-infos">
            <h2>Product name</h2>
            <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>

     <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="img-fluid rounded" />
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      </div>
    </div>

  </div>
</div>
