<div data-controller="toggle" data-toggle-initial-tab="<%= @active_tab %>">
  <input type="checkbox" id="toggle" data-action="click->toggle#fire" class="toggleCheckbox mt-3 ml-5" />
  <label for="toggle" class='toggleContainer'>
    <div>Guest</div>
    <div>Host</div>
  </label>

  <div class="container">
    <div data-toggle-target="togglableElement" class="d-none">
      <h4 class="mt-3">My listings</h4>
        <div class="d-flex">
          <% @active_listings.each do |listing| %>
            <p><%= listing.title %></p>
            <%= form_with url: deactivate_listing_path(listing), method: :patch, local: true do %>
              <%= hidden_field_tag :tab, 'host' %>
              <%= submit_tag "Set to inactive" %>
            <% end %>
          <% end %>
        </div>
        <div class="accordion" id="accordionInactive">
          <div class="accordion-item">
            <h6 class="accordion-header">
            <button class="accordion-button d-flex gap-2 bg-transparent"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne">
              <span><em>Show my inactive listings</em></span>
              <span class="chevron ms-2"></span>
            </button>
            </h6>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionInactive">
              <div class="accordion-body">
                <div class="d-flex">
                  <% @inactive_listings.each do |listing| %>
                    <p><%= listing.title %></p>
                    <%= form_with url: activate_listing_path(listing), method: :patch, local: true do %>
                      <%= hidden_field_tag :tab, 'host' %>
                      <%= submit_tag "Set to active" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

      <h4>Pending bookings</h4>
        <div class="d-flex">
          <% @host_pending_bookings.each do |booking| %>
            <%= booking.listing.title %>
            <%= form_with url: accept_booking_path(booking), method: :patch, local: true do %>
              <%= hidden_field_tag :tab, 'host' %>
              <%= submit_tag "Accept" %>
            <% end %>
            <%= form_with url: reject_booking_path(booking), method: :patch, local: true do %>
              <%= hidden_field_tag :tab, 'host' %>
              <%= submit_tag "Reject" %>
            <% end %>
          <% end %>
        </div>

      <h4>Confirmed bookings</h4>
      <div class="d-flex">
        <% @host_accepted_bookings.each do |booking| %>
          <%= booking.listing.title %>
        <% end %>
      </div>

      <h4>Rejected bookings</h4>
      <div class="d-flex">
        <% @host_rejected_bookings.each do |booking| %>
          <%= booking.listing.title %>
        <% end %>
            </div>
      </div>

    <div data-toggle-target="togglableElement" class="">
      <h4 class="mt-3">Pending bookings</h4>
      <div class="d-flex">
        <% @guest_pending_bookings.each do |booking| %>
          <%= booking.listing.title %>
        <% end %>
      </div>

      <h4>Confirmed bookings</h4>
      <div class="d-flex">
        <% @guest_accepted_bookings.each do |booking| %>
          <%= booking.listing.title %>
        <% end %>
      </div>

      <h4>Rejected bookings</h4>
      <div class="d-flex">
        <% @guest_rejected_bookings.each do |booking| %>
          <%= booking.listing.title %>
        <% end %>
      </div>
    </div>
  </div>
</div>
