<div class="container py-5 d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card bg-white rounded-4 shadow-lg border-0 p-4" style="width: 100%; max-width: 600px; box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.25) !important;">
    <h4 class="mb-4 text-center">Log in</h4>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "form-control" } %>

        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password", class: "form-control" } %>

        <%= f.input :remember_me, as: :boolean, wrapper_html: { class: "remember-me-wrapper" }, input_html: { class: "form-check-input square-checkbox me-1" }, label_html: { class: "form-check-label ms-2" } if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions text-center mt-3">
        <%= f.button :submit, "Log in", class: "btn rounded-pill px-4", style: "background-color: #00B4CC; border-color: #00B4CC; color: #fff;" %>
      </div>
    <% end %>

    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
